.petition-cards-container {
  margin: 0 40px;
}

.petition-cards-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media (max-width: 900px) {
  .petition-cards-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 525px) {
  .petition-cards-row {
    grid-template-columns: 1fr;
  }
}
